<script type="text/x-handlebars">
   {{outlet}}
   {{outlet modal}}
</script>

<script type="text/x-handlebars" data-template-name="messages">

    <section id="web-emitter-app">
        <header id="header">
            <h1>Messages</h1>
            {{input type="text"
            id="new-message"
            placeholder="Type a message"
            value=newMessage
            action="createMessage"}}
        </header>

        <section id="main">
            {{outlet}}

            {{input type="checkbox" id="toggle-all" checked=allAreDone}}
        </section>
    </section>

    <footer id="footer">
    <button {{action 'openModal' 'modal'}}>Open modal</button>

    <span id="message-count">
        <strong>{{ remaining }}</strong> {{ inflection }} sent.
    </span>
        <ul id="filters">
            <li>
                {{#link-to "messages.index" activeClass="selected"}}All{{/link-to}}
            </li>
            <li>
                {{#link-to "messages.active" activeClass="selected"}}Active{{/link-to}}
            </li>
            <li>
                {{#link-to "messages.completed" activeClass="selected"}}Completed{{/link-to}}
            </li>
        </ul>

        {{#if hasSent}}
            <button id="clear-sent" {{action "clearSent"}}>
                Clear sent ({{sent}})
            </button>
        {{/if}}
    </footer>

    <footer id="info">
        <p>Double-click to edit a message</p>
    </footer>

</script>

<script type="text/x-handlebars" data-template-name="messages/index">
    <ui id="message-list">
        {{#each itemController="message"}}
            <li {{bind-attr class="isSent:sent isEditing:editing"}}>
                {{#if isEditing}}
                    {{edit-message class="edit"
                    value=body
                    focus-out="acceptChanges"
                    insert-newline="acceptChanges"}}
                {{else}}
                  {{#if isSent}}
                    <button class="sent" {{action "resetMessage"}}></button>
                  {{else}}
                    <button class="send" {{action "sendMessage"}}></button>
                  {{/if}}
                    <label {{action "editMessage" on="doubleClick"}}>{{body}}</label>
                    <button class="destroy" {{action "removeMessage"}}></button>
                {{/if}}
            </li>
        {{/each}}
    </ui>
</script>

<script type="text/x-handlebars" data-template-name="modal">
   {{#modal-dialog action="close"}}
       <h3>The Modal Dialog</h3>
       <p>Yeah! I got here.</p>
       <button {{action "close"}}>Done</button>
   {{/modal-dialog}}
</script>

<script type="text/x-handlebars" id="components/modal-dialog">
   <div class="overlay" {{action "close"}}>
      <div class="modal" {{action bubbles=false}}>
         {{yield}}
      </div>
   </div>
</script>
