
<script type="text/x-handlebars" data-template-name="messages">

    <section id="web-emitter-app">
        <header id="header">
            <h1>Messages</h1>
            {{input type="text"
            id="new-message"
            placeholder="Type a message"
            value=newMessage
            action="createMessage"}}
        </header>

        <section id="main">
            {{outlet}}
            {{outlet modal}}

            {{input type="checkbox" id="toggle-all" checked=allAreDone}}
        </section>
    </section>

    <footer id="footer">

    <span id="message-count">
        <strong>{{ remaining }}</strong> {{ inflection }} sent.
    </span>
        <ul id="filters">
            <li>
                {{#link-to "messages.index" activeClass="selected"}}
                    All{{/link-to}}
            </li>
            <li>
                {{#link-to "messages.active" activeClass="selected"}}
                    Active{{/link-to}}
            </li>
            <li>
                {{#link-to "messages.completed" activeClass="selected"}}
                    Completed{{/link-to}}
            </li>
        </ul>

        {{#if hasSent}}
            <button id="clear-sent" {{action "clearSent"}}>
                Clear sent ({{sent}})
            </button>
        {{/if}}
    </footer>

    <footer id="info">
        <p>Click to edit a message</p>
    </footer>

</script>

<script type="text/x-handlebars" data-template-name="messages/index">
    <ui id="message-list">
        {{#each itemController="message"}}
            <li {{bind-attr class="isSent:sent"}}>
                {{#if isSent}}
                    <button class="sent" {{action "resetMessage"}}></button>
                {{else}}
                    <button class="send" {{action "sendMessage"}}></button>
                {{/if}}
                <label {{action 'openModal' 'modal' model
                on="click"}}>{{body}}</label>
                <button class="destroy" {{action "removeMessage"}}></button>
            </li>
        {{/each}}
    </ui>
</script>

<script type="text/x-handlebars" data-template-name="modal">
    {{#modal-dialog action="close"}}
        <h2 class="modal-header">
            Message Editor
        </h2>
        <p>Body</p>
        <p>{{input value=body}}</p>
        <button {{action "close"}}>Done</button>
    {{/modal-dialog}}
</script>

<script type="text/x-handlebars" id="components/modal-dialog">
    <div class="overlay" {{action "close"}}>
        <div class="modal" {{action bubbles=false}}>
            {{yield}}
        </div>
    </div>
</script>
